.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; /* Cambiado de auto a hidden para eliminar el scrollbar */
}

.progressbar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%; /* Asegurar que la línea de progreso llegue hasta el último paso */
  height: 4px;
  background-color: #e0e0e0;
  z-index: 0;
}

.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  flex: 0 0 100px; /* Ajustar el ancho según sea necesario */
}

.progress-step .step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s;
}

.progress-step.active .step {
  background-color: #f8c200; /* Yellow for active step */
  transform: scale(1.4); /* Increase size */
  margin-top: 3rem;
}

.progress-step.completed .step {
  background-color: #4caf50; /* Green for completed step */
}

.progress-step p {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
  transition: font-size 0.3s;
  text-align: center;
}

.progress-step.active p {
  font-size: 16px; /* Larger font size for active step */
}

.progress-step .active-title {
  white-space: nowrap;
  overflow: visible;
  text-overflow: initial;
  max-width: none;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 0, 140);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.personal-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.other-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

input {
  border: 2px solid rgb(98, 0, 255);
  border-radius: 5px;
}

input:focus {
  border: 3px solid rgb(98, 0, 255);
}

/* Fade in and fade out transitions */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.body {
  position: relative;
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

.page {
  min-width: 400px; /* Ajusta el valor según el ancho de tu contenedor de formulario */
}

@media (max-width: 768px) {
  .progressbar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 200%; /* Asegurar que la línea de progreso llegue hasta el último paso */
    height: 4px;
    background-color: #e0e0e0;
    z-index: 0;
  }
  .progress-step {
    flex: 0 0 100px; /* Más espacio para dispositivos móviles */
  }
}
