/* Estilo para la superposición oscura */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: 1040; /* Debe estar debajo del modal pero encima de otros elementos */
  display: none; /* Oculto por defecto */
}

/* Mostrar la superposición cuando el modal está abierto */
.modal-overlay.show {
  display: block;
}
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

 