/* PersonalInfo.css */
h1,
h2,
h3,
h4,
h5,
h6,p,
label,
span {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* Estilo para la superposición oscura */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: 1040; /* Debe estar debajo del modal pero encima de otros elementos */
  display: none; /* Oculto por defecto */
}

/* Mostrar la superposición cuando el modal está abierto */
.modal-overlay.show {
  display: block;
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Index.css */
.welcome-container {
  justify-content: space-between;
  align-items: center;
  background-color: #04009a; /* Background color */
  padding: 40px;
  border-radius: 10px;

  color: #f0f0eb; /* Text color */
}

.text-section {
  width: 50%;
  text-align: left;
}

.text-section h1 {
  color: #f0f0eb; /* Heading color */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-section p {
  color: white; /* Paragraph text color */
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.text-section .btn {
  background-color: #3edbf0; /* Button background color */
  color: #04009a; /* Button text color */
  border: none;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.text-section .btn-secondary {
  background-color: #77acf1; /* Secondary button background color */
}

.video-section {
  width: 50%;
}

.video-section iframe {
  width: 100%;
  height: 315px;
  border: 5px solid #04009a; /* Video border color */
  border-radius: 10px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .text-section, .video-section {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .video-section iframe {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0;
  }

  .welcome-container {
    padding: 20px;
    flex-direction: column;
  }

  .text-section {
    margin-bottom: 20px;
  }

  .custom-card-body {
    flex-direction: column;
  }

  .image-section {
    margin-top: 20px;
  }

  .file-input-container {
    display: flex;
    flex-direction: column;
  }

  .form-control-file {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-control-file + img {
    display: block;
    margin-top: 10px;
  }

  .scroll-container {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100vh; /* Para asegurar que el contenedor ocupe toda la altura disponible */
  }

  .form-content {
    width: 228mm; /* Tamaño fijo */
    min-height: 297mm; /* Tamaño fijo */
    padding: 15mm; /* Padding fijo */
  }

  .form-content h2 {
    font-size: 1.5rem;
  }

  .form-content p, .form-content ul {
    font-size: 0.9rem;
  }
}

.container {
  padding: 20px;
}

.custom-card-bg {
  background-color: #04009A;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f0f0eb;
}

.custom-card-bg h2, .custom-card-bg p {
  color: #f0f0eb;
}

.custom-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: #04009A;
  color: #f0f0eb;
  transition: transform 0.2s ease-in-out;
}

.custom-card-body {
  padding: 20px;
}

.custom-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: "#f0f0eb";
}

.custom-card-text {
  font-size: 1rem;
  color: #f0f0eb;
}

.img-thumbnail {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  background-color: #f0f0eb;
  border: 2px solid #77acf1;
  border-radius: 5px;
  color: #04009A;
}

.form-control-file {
  color: #04009A;
  display: inline-block;
}

.btn-light {
  background-color: #77acf1;
  border: none;
  color: #04009A;
}

.btn-light:hover {
  background-color: #3edbf0;
}

.form-group label {
  color: rgb(32, 32, 32);
}
